{
	"monitors": {
		"uk-prod-lb-01": {
			"name": "UK Loadbalancer 01",
			"ip": "198.51.100.21",
			"cron": "*/2 * * * *",
			"alertAbovePercent": 50,
			"notifyOnAboveAveragePercent": ["pushover"],
			"notify": ["discord", "pushover"]
		},
		"uk-prod-lb-02": {
			"name": "UK Loadbalancer 02",
			"ip": "198.51.100.31",
			"cron": "*/2 * * * *",
			"alertAbovePercent": 50,
			"notifyOnAboveAveragePercent": ["pushover"],
			"notify": ["discord", "pushover"]
		},
		"uk-dev-lb-01": {
			"name": "UK Dev Loadbalancer 01",
			"ip": "198.51.100.95",
			"cron": "*/5 * * * *",
			"alertAbovePercent": 70,
			"notifyOnAboveAveragePercent": ["discord"],
			"notify": ["discord", "custom"]
		}
	},
	"notifications": {
		"discord": "",
		"pushover": {
			"user": "",
			"token": "",
			"priority": 0
		},
		"telegram": {
			"chatId": "",
			"token": ""
		}
	},
	"customLogic": {
		"auth": "",
		"notifications": ""
	} 
}