{
	"groups": {
		"prod": {
			"name": "Production",
			"members": ["uk-prod-lb-01", "uk-prod-lb-02"]
		}
	},
	"monitors": {
		"uk-prod-lb-01": {
			"name": "UK Loadbalancer 01",
			"type": "local",
			"ip": "198.51.100.21",
			"cron": "*/2 * * * *",
			"alertAbovePercent": 50,
			"notifyOnAboveAveragePercent": ["pushover"],
			"notify": ["discord", "pushover"]
		},
		"uk-prod-lb-02": {
			"name": "UK Loadbalancer 02",
			"type": "local",
			"ip": "198.51.100.31",
			"cron": "*/2 * * * *",
			"alertAbovePercent": 50,
			"notifyOnAboveAveragePercent": ["pushover"],
			"notify": ["discord", "pushover"]
		},
		"uk-dev-lb-01": {
			"name": "UK Dev Loadbalancer 01",
			"type": "remote",
			"api": "http://198.51.100.4:18514/api/ping/uk-dev-lb-01",
			"cron": "*/5 * * * *",
			"alertAbovePercent": 70
		}
	},
	"notifications": {
		"discord": "",
		"pushover": {
			"user": "",
			"token": "",
			"priority": 0
		},
		"telegram": {
			"chatId": "",
			"token": ""
		}
	},
	"additional": {
		"randomDelayMin": 200,
		"randomDelayMax": 1000
	},
	"customLogic": {
		"auth": "",
		"notifications": ""
	} 
}