var config = {
	monitors: {
		'uk-prod-lb-01': {
			name: 'UK Loadbalancer 01',
			ip: '198.51.100.21',
			cron: '*/2 * * * *',
			notify: ['discord', 'pushover']
		},
		'uk-prod-lb-02': {
			name: 'UK Loadbalancer 02',
			ip: '198.51.100.31',
			cron: '*/2 * * * *',
			notify: ['discord', 'pushover']
		},
		'uk-dev-lb-01': {
			name: 'UK Dev Loadbalancer 01',
			ip: '198.51.100.95',
			cron: '*/5 * * * *',
			notify: ['discord']
		}
	},
	notifications: {
		discord: '',
		pushover: {
			user: '',
			token: '',
			priority: 0
		},
		telegram: {
			chatId: '',
			token: ''
		}
	},
	customLogic: {
		auth: ''
	} 
};

module.exports = config;