<!DOCTYPE html>
<html>
	<head>
		<title>Monitors</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>Monitors</h1>
		<% if (customLogin) { %>
			<a href="/logout">Logout</a>
		<% } %>
		<hr />
		<% for (var monitor in monitors) { %>
		<div>
			<a href="/ping/<%= monitor %>"><%= monitor %></a>
		</div>
		<% } %>
	</body>
</html>